<% if current_user %>
  <h1>Hello, <%= current_user.name %></h1>
  <h1>Tasks:</h1>
  <ul>
    <% current_user.tasks.each do |t| %>
      <li>
        <%= render 'tasks/brief', :object => t %>
        <div class="task-last-run">Last run at <%= t.last_run %></div>
        <div class="task-run-count">Total run <%= t.run_count %> time(s)</div>
        <%= link_to "Show Detail", t, :class => "task-detail-button button" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>Need Invite</h>
<% end %>
