<h1>Task: <%= @task.name %></h1>

<%= render 'brief', :object => @task %>
<%= render 'params', :params => @task.trigger_params, :id => "trigger" %>
<%= render 'params', :params => @task.action_params, :id => "action" %>

<h2>Error:</h2>
<%= render 'error', :task => @task %>

<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), :method => :delete, :confirm => "Are you sure?" %>
