<h1>Task: <%= @task.name %></h1>

<%= render 'brief', :object => @task %>
<%= render 'params', :params => @task.trigger_params, :id => "trigger" %>
<%= render 'params', :params => @task.action_params, :id => "action" %>

<%= link_to "Edit", edit_task_path(@task) %>
