<div id="header">
  <div id="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li><%= link_to "User", "user_path" %></li>
        <li><%= link_to "Task", "task_path" %></li>
        <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>
